html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
/* 给body样式初始化 */
body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
/* 清除高亮并设置为透明 */
* {
  -webkit-tap-highlight-color: transparent;
}
/* 添加此属性来给iOS的按钮和输入框自定义样式 */
input {
  -webkit-appearance: none;
}
/* 禁用长按页面时弹出菜单 */
img,
a {
  -webkit-touch-callout: none;
}
.download {
  width: 100%;
  height: 1rem;
  display: flex;
  line-height: 1rem;
}
.download .left {
  flex: 2;
  background-color: #232326;
  color: #fff;
}
.download .left .close {
  float: left;
  width: 0.32rem;
  height: 0.32rem;
  margin-left: 0.32rem;
  margin-top: 0.34rem;
}
.download .left .logo {
  float: left;
  width: 0.7rem;
  height: 0.7rem;
  margin: 0.15rem 0.64rem 0 0.32rem;
}
.download .left span {
  display: block;
  float: left;
  width: 3rem;
}
.download .left span.title2 {
  width: 3.5rem;
  font-size: 0.24rem;
  color: #999999;
}
.download .right {
  flex: 1;
  background-color: #CD2525;
  color: #fff;
  text-align: center;
  font-size: 0.28rem;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0.88rem;
  background-color: #B71113;
  z-index: 20;
}
.header .s-btn {
  display: block;
  width: 0.8rem;
  height: 0.88rem;
  margin-right: 0.2rem;
}
.header .s-btn img {
  display: block;
  width: 0.4rem;
  height: 0.36rem;
  padding: 0.26rem 0 0 0.3rem;
}
.header .search {
  position: relative;
  display: block;
  flex: 1;
  height: 0.6rem;
  margin-right: 0.64rem;
  background-color: #fff;
  border-radius: 0.3rem;
  overflow: hidden;
}
.header .search .i1 {
  float: left;
  display: block;
  width: 0.4rem;
  height: 0.3rem;
  margin: 0.16rem 0.16rem 0 0.3rem;
  background: url(../images/logo2.png) no-repeat 0 0;
  background-size: 0.4rem auto;
}
.header .search .i1::after {
  position: absolute;
  top: 0.16rem;
  left: 0.8rem;
  content: '';
  display: block;
  float: left;
  width: 0.04rem;
  height: 0.3rem;
  background-color: #E8E8E8;
}
.header .search .i2 {
  display: block;
  float: left;
  width: 0.36rem;
  height: 0.3rem;
  margin: 0.16rem 0 0 0.2rem;
  background: url(../images/jd-sprites.png) no-repeat -1.64rem 0;
  background-size: 4rem;
}
.header .search input {
  position: absolute;
  line-height: 0.6rem;
  left: 1.56rem;
  padding: 0;
  border: 0;
}
.header .login {
  display: block;
  width: 1.3rem;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: left;
}
.header .login span {
  font-size: 0.28rem;
  color: #fff;
}
main {
  width: 100%;
  margin-top: 0.88rem;
  background-color: #F5F5F5;
}
.banner {
  position: relative;
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
}
.banner .bg {
  position: absolute;
  left: -25%;
  width: 150%;
  height: 2rem;
  background-image: linear-gradient(to bottom, #B71113, #E74633);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.banner .banner-list li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.12rem;
  float: left;
  box-sizing: border-box;
  padding: 0 0.36rem;
}
.banner .banner-list li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  overflow: hidden;
}
.banner .banner-list li a img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner2 {
  width: 100%;
  display: flex;
}
.banner2 a {
  flex: 1;
  float: left;
}
.banner2 a img {
  width: 100%;
  display: block;
}
.nav {
  width: 100%;
}
.nav li {
  width: 20%;
  float: left;
}
.nav li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav li a img {
  display: block;
  margin-top: 0.5rem;
  width: 1.152rem;
}
.nav li a span {
  padding-top: 0.3rem;
  font-size: 0.36rem;
  color: #666;
}
.footer-container {
  box-sizing: border-box;
  width: 96.21%;
  margin: 0 0.288rem 0.288rem 0.288rem;
  background-color: #fff;
  overflow: hidden;
}
.footer-container a {
  display: block;
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 0.1872rem 0 0.144rem 0.288rem;
}
.footer-container a h4 {
  color: #333;
  font-size: 0.44rem;
}
.footer-container a p {
  font-size: 0.32rem;
  color: #333;
}
.footer-container a div {
  width: 1.728rem;
  height: 1.728rem;
  margin: 0.275rem 0.2rem 0;
}
.footer-container a div img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.seckill {
  margin: 0.288rem;
  padding-left: 0.24rem;
  background-color: #fff;
  border-radius: 0.24rem;
  overflow: hidden;
}
.seckill .title {
  width: 100%;
  height: 0.98rem;
  background: url(../images/title-wrap.png) no-repeat center center;
  background-size: contain;
}
.seckill .title .name {
  display: block;
  float: left;
  font-size: 0.4rem;
  padding: 0.3rem 0.2rem 0 0;
}
.seckill .title .time-wrapper {
  float: left;
  position: relative;
  padding-top: 0.3rem;
  height: 0.68rem;
  color: #ff2727;
  vertical-align: middle;
}
.seckill .title .time-wrapper .hour {
  float: left;
  font-size: 0.4rem;
  margin-right: 0.7rem;
}
.seckill .title .time-wrapper .hour::after {
  display: block;
  content: '';
  position: absolute;
  top: 0.26rem;
  left: 0.4rem;
  width: 0.58rem;
  height: 0.5rem;
  background: url(../images/time-wrapper.png) no-repeat 0 0;
  background-size: contain;
}
.seckill .title .time-wrapper span {
  display: block;
  float: left;
  margin-right: 0.06rem;
}
.seckill .title .time-wrapper span.time {
  background-color: #ff2727;
  border-radius: 0.06rem;
  color: #fff;
}
.seckill .title .more {
  display: block;
  position: relative;
  height: 0.98rem;
  padding-top: 0.3rem;
  padding-right: 0.6rem;
  float: right;
  text-align: center;
}
.seckill .title .more span {
  font-size: 0.36rem;
  color: #ff2727;
}
.seckill .title .more span::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.36rem;
  right: 0.18rem;
  width: 0.32rem;
  height: 0.32rem;
  background: url(../images/more.png) no-repeat 0 0;
  background-size: contain;
}
.seckill ul {
  display: flex;
  width: 100%;
}
.seckill ul li {
  flex: 1 1 100px;
  width: 2.34rem;
}
.seckill ul li a {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seckill ul li a div {
  padding: 0.06rem;
  width: 100%;
}
.seckill ul li a div img {
  width: 100%;
}
.seckill ul li a span {
  padding: 0.06rem 0;
  font-size: 0.32rem;
}
.seckill ul li a span.old {
  position: relative;
  color: #999999;
}
.seckill ul li a span.new {
  color: #ff2727;
  font-weight: 600;
}
.seckill ul li a span .sym {
  font-size: 0.24rem;
}
.seckill ul li a span hr {
  position: absolute;
  top: 0.3rem;
  height: 0.02rem;
  width: 0.6rem;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #999;
}
.footer-graphic {
  margin: 0 0.288rem 0.288rem 0.288rem;
}
.footer-graphic ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.footer-graphic ul li {
  margin-top: 0.3rem;
  margin-right: 0.9rem;
}
.footer-graphic ul li:nth-child(4) {
  margin-right: 0;
  text-align: right;
}
.footer-graphic ul li a {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.footer-graphic ul li a img {
  display: block;
  width: 80%;
}
.recommend {
  display: flex;
  flex-direction: column;
  margin: 0 0.288rem 0.288rem 0.288rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.3rem;
}
.recommend .top {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0.2rem 0 0 0.24rem;
}
.recommend .top .left {
  flex: 1;
}
.recommend .top .left a {
  display: block;
  width: 100% ;
}
.recommend .top .left a h4 {
  font-size: 0.48rem;
  font-weight: 700;
  color: #000;
}
.recommend .top .left a p {
  margin-bottom: 0.1rem;
  font-size: 0.36rem;
  color: #74787E;
}
.recommend .top .left a img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.6rem;
}
.recommend .top .left .bottom {
  display: flex;
}
.recommend .top .left .bottom a {
  flex: 1;
}
.guess {
  margin: 0 0.288rem 0.288rem 0.288rem;
  display: flex;
  justify-content: space-between;
}
.guess .left .right li {
  width: 100%;
  border-radius: 0.2rem;
  background-color: #fff;
}
.guess .left .right li a {
  display: block;
  width: 100%;
}
.backToTop {
  position: fixed;
  bottom: 120px;
  right: 9px;
  display: block;
  width: 38px;
  height: 38px;
  background: url(../images/backToTop.png) no-repeat center center;
  background-size: 38px auto;
}
.nav-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 hsl(0deg 6% 0.96666667%);
}
.nav-bottom a {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
}
.nav-bottom a img {
  width: 100%;
  height: 100%;
}
