<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/template-web.js"></script>
</head>

<body>
    <div id="stage">
        <!-- 楼层主题 -->
        <div id="head">
            <h3>新年快乐</h3>
            <p class="author">楼主：星驰</p>
            <p class="content">新的一年，祝大家身体健康，万事如意</p>
        </div>
        <!-- 发表回复 -->
        <div id="text">
            <h4>发表回复</h4>
            用户名：<input type="text" id="username"><br>
            <textarea name="text" id="newContent" cols="50" rows=3></textarea><br>
            <input type="button" value="发表" class="submit">
        </div>
        <!-- 回复列表 -->
        <ul class="reply">
        </ul>
    </div>
    <!-- 创建模板，完成刷新数据功能 -->
    <script id="temp" type="text/html">
        <% for(var i = 0; i < data.length; i++) { %>
            <li idx="<%= data[i].id %>">
                <p class="floor"><span><%= data[i].id %>楼</span><a href="#" id="delete">删除</a></p>
                <p class="author">层主：<%= data[i].author %></p>
                <p class="content"><%= data[i].content %></p>
            </li>
        <% } %>
    </script>
    <script src="js/index.js"></script>
</body>

</html>